@import url('https://fonts.googleapis.com/css?family=Poppins:400,500.700');

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.navbar-brad img {
    width: 120px;
}

.test{
    height: 30px;
    width: 65px;
    font-size: 18px;
    padding: 5px 105px 30px 7px;
}



.nav-link{
    font-size: 0.85em !important;
}


.carousel-inner{
    
    height: 440px;
}










@media (min-width: 1200px){
    .carousel-inner img {
        width: 160%;
        height: 160%;
        transform: translateX(15%);
        transform: translateY(-10%);
        
    }


    .carousel-caption{
        top: 10%;
        text-shadow: 1px 2px 4px #000;
        transform: translateX(-20%);
        font-size: 2.85em !important;
    }
}


@media (max-width: 1200px){
    .carousel-inner img {
        width: 230%;
        height: 230%;
        transform: translateX(-19%);
        filter: blur(2px);
    }

    .carousel-caption{
        top: 5%;
        text-shadow: 1px 2px 4px #000;
        transform: translateX(-20%);
    }
}


@media (max-width: 900px){
    .carousel-inner img {
        width: 300%;
        height: 300%;
        transform: translateX(-30%);
        filter: blur(7px);
    }


    .carousel-caption{
        top: 5%;
        text-shadow: 1px 2px 4px #000;
        transform: translateX(0%);
    }
}


.jumbotron{
    padding: 1em;
    border-radius: 0%;

    width: 70%;
    margin: 0 auto;
    margin-top: 20px;

}

.padding {
    padding-bottom: 2em;
}

.alert {
    width: 75%;
    margin: 0 auto;
    padding-top: 2em;
}

.alert hr{
    border-top:2px solid silver;
    width: 95%;
    margin-top: 0.3em;
    margin-bottom: 1em;
}

.icon1, .icon2, .icon3{
    width: 50px;
    height: 50px;
}

.jumbotron{
    padding: 5px 1px 1px 7px;
}


@media (max-width: 900px){
.fixedbut img{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 2px;
    width: 100px;
    height: 100px;
    background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png);
    cursor: pointer;
    border-radius: 50%;
  
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(255,255,255,.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0,0,0,.1);
}
}

@media (min-width: 900px){
    .fixedbut img{
        display: inline-block;
        margin: 40px;
        width: 0px;
        height: 0px;
        background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png);
        cursor: pointer;
        border-radius: 50%;
      
        box-shadow: 0 3px 20px rgba(0,0,0,.25),
        inset 0 2px 0 rgba(255,255,255,.6),
        0 2px 0 rgba(0,0,0,.1),
        inset 0 0 20px rgba(0,0,0,.1);
    }
}






 /* <![CDATA[ */    

 ul.tabs {
    height: 25px;
    line-height: 25px;
    margin: 0 0 3px;
    list-style: none;
}
* html ul.tabs {margin-bottom: 0;}
ul.tabs li {
    float: left;
    margin-right: 1px;
}
ul.tabs li a {
    display: block;
    padding: 0 13px 1px;
    margin-bottom: -1px;
    color: #444;
    text-decoration: none;
    cursor: pointer;
    background: #F9F9F9;
    border: 1px solid #EFEFEF;
    border-bottom: 1px solid #F9F9F9;
    position: relative;
}
* html ul.tabs li a {float: left}
*+html ul.tabs li a {float: left}
ul.tabs li a:hover {
    color: #F70;
    padding: 0 13px;
    background: #FFFFDF;
    border: 1px solid #FFCA95;
}
ul.tabs li.tab-current a {
    color: #444;
    background: #EFEFEF;
    padding: 0px 13px 2px;
    border: 1px solid #DDD;
    border-bottom: 1px solid #EFEFEF;
}
div.t2,
div.t3,
div.t4 {
    display: none;
}
div.t1,
div.t2,
div.t3,
div.t4 {
    border: 1px solid #DDD;
    background: #EFEFEF;
    padding: 0 12px;
}







.social a{
 font-size: 2em;   
 padding: 10px;
}

.fa-facebook {
    color: #06aa00
}
.fa-instagram {
    color: #06aa00
}
.fa-twitter {
    color: #06aa00
}
.fa-youtube {
    color: #06aa00
}
.fa-google-plus-g {
    color: #06aa00
}

.fa-telegram{
    color: #06aa00
}

.text-reset{
    color: rgb(51, 51, 51);
    text-decoration: underline;
}

.footer{
    min-height: 100px;
    max-height: 300px;
    margin-bottom: -100px;
    padding-top: 0%;
}



.aa img {
  float: right;
}


